@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;900&display=swap');

.ed-desc-p {
    font-family: 'Oswald', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
}

.ed-desc-p > p {
    padding: 20px 0px 0px 60px;
}